.intro {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--black);
}

.intro__text {
  position: relative;
  width: 700px;
  margin: auto;
  color: var(--white);
  background: var(--black);
}

.intro__bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 400%;
  background: linear-gradient(
    -3deg,
    var(--black),
    var(--black) 25%,
    var(--white),
    var(--primary),
    var(--black) 75%,
    var(--black)
  );
  mix-blend-mode: darken;
}

.scroll {
  position: relative;
  height: 400vw;
}
